body{
background-color: #00ff99;
}

.home a{
	color:#000000;

}
.jumbotron {
  background-image:url('images/jumbodude.jpg');
  height:447px;
  background-repeat: no-repeat;
  background-size: cover;
}

.quotes h3 {

	background: url('images/bcquote.jpg');
	height: 447px;
	background-repeat: no-repeat;
	background-size:cover;
	color:white;
	text-align:center;
}
.home h2{
	text-align: center;

}
.new-designs h2{
	text-align:center;

}
.quotes h2{
	text-align:center;

}
.fun-facts h2{
	text-align:center;

}
	
}

}
.home p{
text-align:justify;

}
.new-designs p{
text-align:center;

}
.jumbotron h2{
font-family: 'Indie Flower', cursive; font-weight: 400;font-size:64px;
color:white;
}
.jumbotron p{
font-family: 'Poiret One', cursive; font-weight: 400;font-size:64px;
color:white;
}
.jumbotron h1{
font-family: 'Pacifico', cursive; font-weight: 400;font-size:64px;
color:white;
}
.fun-facts p{
text-align: center;

}
.home p{
text-indent: 50px;
}


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b8b894;
}

.nav li {
    float: left;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav a:hover {
    background-color: #111;
}
.nav ul {
    position: fixed;
    top: 0;
    width: 100%;
}
.about h2{

text-align:center;

}
.about p{
text-align:justify; 
text-indent: 50px;
}
.shop{

text-align:center;
}
.turtle-facts h2{
text-align:center;

}
.turtle-facts a{
color:#000000;
}
.how-we-help h2{
text-align:center;
}
.how-we-help p{
text-align:justify;
text-indent: 50px;
}
.how-we-help a{
color:#000000;
}
.contact h2{
text-align:center;
}

